@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --sidebar-color: #fcfaf8;
    --light-text-color: #666666;
    --normal-text-color: #333333;
    --hover-background-color: #efeeeb;
    --red-color: #bb392b;
}

aside {
    width: 20%;
    display: grid;
    height: 100vh;
}

.sidebar-full {
    background-color: var(--sidebar-color);
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar-small {
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.user-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
}

.user-logo:hover {
    background-color: var(--hover-background-color);
    color: var(--normal-text-color);
}

.header-icons {
    display: flex;
}

.icon {
    color: var(--light-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
}

.icon-container {
    width: 36px;
}

.icon-container:hover {
    background-color: var(--hover-background-color);
    color: var(--normal-text-color);
}

.arrow-icon {
    width: 32px;
    color: inherit;
}

.profile-icon {
    width: 32px;
    border-radius: 100%;
    border: 2px solid var(--red-color);
    padding: 0;
}

.move-left {
    transform: translate(-200px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.hide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.move-right {
    transform: translate(200px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

.sidebar-task {
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
}

.add-task-icon {
    width: 2.5rem;
    /* To change color use svg fill property */
}

.sidebar-task:hover {
    background-color: var(--hover-background-color);
    color: var(--normal-text-color);
}

.sidebar-task p {
    color: var(--red-color);
    font-weight: 600;
}

.sidebar-icons {
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    color: var(--light-text-color);
}

.sidebar-icons:hover {
    background-color: var(--hover-background-color);
}

.sidebar-icons .sidebar-icon {
    width: 2.2rem;
}

.project-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
    color: var(--light-text-color);
}

.project-section:hover {
    background-color: var(--hover-background-color);
}

.project-section .icon:hover {
    background-color: #eae6e3;
}

.project-section p {
    margin-left: 5px;
}

.plus-icon {
    width: 36px;
    color: inherit;
}

.projects {
    display: flex;
    align-items: center;
}

.project-list {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-in-out;
}